
@{
    ViewData["Title"] = "View";
}

<div class="text-center">
    <video class="video-js movie-player" controls>
        @Html.Raw("<source src=\"/api/movie/media/" + Html.Encode(ViewBag.Name) + "\" type=\"video/mp4\" />")
        @Html.Raw("<track kind=\"captions\" src=\"/api/movie/subtitle/" + Html.Encode(ViewBag.Name) + "\" srclang=\"en\" label=\"English\" default />")
    </video>
</div>

